<!DOCTYPE html>
<html>
<head>
	<title>Volunteer</title>
</head>
<body>
	        {% if user.is_authenticated %}
        
        <div class="right item">
          <a class="ui  button" style="margin-right: 10px">Hello {{ user.username }}</a>
          <a class="ui  button" href="/logout">Logout</a>
        </div>
        {% else %}
         <div class="right item">
          <a class="ui  button" style="margin-right: 10px "href="/login">Login</a>
          <a class="ui  button" href="/signup">Sign Up</a>
        </div>
        {% endif %}
	<h2>
		Your classes
	</h2>
	<ol>
	{% for req in yourList %}
	<li>
	{{ req.school }}
	{{ req.startTime }}
	{{ req.endTIme}}
	</li>
	
	{% endfor %}
	</ol>
	<h2>List of available classes</h2>
	<form method="POST" action="/volunteers/confirm_events">
	<ol>
	{% for req in requestList %}
	<li>
	{{ req.school }}
	{{ req.startTime }}
	{{ req.endTIme}}
	{{ req.distance }}
	{{ req.duration}}
	</li>
	<input type="checkbox" name="selectedEvent" value="{{req.id}}">
	{% endfor %}
	</ol>
	<button type="submit">Submit</button>
	</form>
</body>
</html>