<!DOCTYPE html>
<html>
<head>
	<title>Event Detail</title>
</head>
<body>
	<div>{{event.creator}}</div>
	<div>{{event.email}}</div>
	<div>{{event.description}}</div>
	<form method="POST" action="/school/confirm_volunteers" >
	<div>
	{% for volunteer in volunteers %}
	{{ volunteer.username }}
	{{ volunteer.field }}
	
	<input type="checkbox" name="volunteer" value="{{volunteer.username}}"/>
	{% endfor %}
	</div>
	<input type="hidden" name="startTime" value="{{event.startTime}}">
	<input type="hidden" name="endTime" value="{{event.endTime}}">
	<button type="submit">Submit</button>
	</form>
</body>
</html>