{% load static %}
<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login Example - Semantic</title>
<!--   <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/menu.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/icon.css"> -->

 <!--  Uncomment from here -->
  <link rel="stylesheet" type="text/css" href="{% static 'components/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/site.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/container.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/button.css' %}">
<!--   <link rel="stylesheet" type="text/css" href="{% static 'components/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/image.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/divider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/dropdown.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/segment.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'components/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/icon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/transition.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'components/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/message.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'components/visibility.js' %}"></script>
  <script src="{% static 'components/sidebar.js' %}"></script>
  <script src="{% static 'components/transition.js' %}"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    #map {
   width: 100%;
   height: 400px;
   background-color: grey;
  }

  /* Set the size of the div element that contains the map */
      /*#map {
        height: 80%;  
        width: 60%%;  
      }*/
  </style>

  <!-- <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script> -->
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
    <!--   <img src="assets/images/logo.png" class="image"> -->
      <div class="content">
        Sign up to your account
      </div>
    </h2>
    <form class="ui large form" method="POST" action="/school/school_submit">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="schoolname" placeholder="School">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="principal" placeholder="Username">
          </div>
          {% if message %}
          <div>Username taken</div>
          {% endif %}
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
        <div class="field" style="display: none;">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="loc" type="text" name="loc" placeholder="Location">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>

        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal" onclick ="initMap()">Add school location</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add your location</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                  </div>
                  <div class="modal-body">
      
                    <div id="map"></div>
            
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>

            </div>
            <br><br>

            <button class="ui fluid large teal submit button" style="width: 30%; margin: 0 auto;">Sign Up</button>
        
      </div>

      <div class="ui error message"></div>

    </form>

<!--     <div class="ui message">
      New to us? <a href="/authenticate/signup">Sign Up</a>
    </div>
    <div class="ui message">
       Try through Google: <a href="/authenticate/google">Google</a>
    </div> -->
  </div>
</div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 12, center: uluru});
  

  infoWindow = new google.maps.Marker;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

           
            map.setCenter(pos);
            var marker = new google.maps.Marker({
              position: pos,
              map: map,
              title: 'Hello World!',
              draggable: true
            });

          marker.addListener('dragend', function() {
            map.setZoom(16);
            pos = marker.getPosition();
            map.setCenter(pos);
            console.log(pos.lat(),pos.lng()) ; 
            document.getElementById("loc").value = pos.lat().toString() +","+ pos.lng().toString() ;

          });
            console.log(pos);
            document.getElementById("loc").value = pos.lat.toString() +","+  pos.lng.toString() ;
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSXeX3rYsGXTZDiLEQDk5SodYFN9JSN4A

&callback=initMap">
    </script>

</body>

</html>